body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display:flex;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex: 0 0 30px;
}

.header-nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.hero-sec{
    display:flex;
    justify-content: center;
    border: 2px solid black;
    flex: 1;
}

.hero-left, .hero-right{
    border: 2px solid black;
    flex-basis: 45 0px;
}

.random-information{
    border: 2px solid black;
    flex: 1;
}

.quote{
    border: 2px solid black;
    flex: 1;
}

.pop-up-box{
    border: 2px solid black;
    flex: 1;
}

.footer{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-content: center;
    flex: 0 0 30px;
}