body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    
}

.main-header{
    background-color: #1b2447
}

header{
    display:flex;
    color: white;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex: 0 0 30px;
    flex-shrink: 0;
}

.header{
    font-weight:bold;
}

.header-nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.hero-sec{
    color: white;
    display:flex;
    justify-content: center;
    background-color: #1b2447;
    border: 2px solid black;
    padding: 100px;
    flex: 1 0 auto;
    flex-shrink: 0;
}

.hero-left, .hero-right{
    border: 2px solid black;
    max-width: 450px;
}

.hero-right{
    background-color: white;
    opacity: 0.6;
    min-width: 450px;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
}

.hero-subtext{
    opacity: 0.8;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.random-information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    padding: 100px;
    flex: 0 0 auto;
    flex-shrink: 0;
}

.info{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.subtext-container{
    border: 2px solid black;    
    display:flex;
    flex: 1;
    gap: 55px;
}

.subtext{
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    opacity: 0.6;
    width: 185px;
}

.box-container{
    box-sizing: border-box;
    display:flex;
    gap: 50px;
    border: 2px solid black;
}

.box{
    min-width: 85px;
    height: 85px;
    padding: 50px;
    border: 5px solid #0a69f7;
    border-radius: 15px;    
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 100px;
    background-color: #dfe1e6;
}
.quote{
    border: 2px solid black;
    font-weight: lighter;
    opacity: 0.7;
    max-width: 800px;
    font-size: 35px;
    font-weight: lighter;
}

.quote-author{
    border:2px solid black;
    display:flex;
    justify-content: flex-end;
    width: 800px;
    font-weight:900;
    font-size: 22px;
}

.pop-up{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 100px;
    flex-basis: 150px;
}

.pop-up-box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #0a69f7;
    height: 160px;
    width: 900px;
    padding: 2px 150px 2px;
    color: white;
}

.pop-up-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black
}

.pop-up-title{
    font-size: 20px;
    font-weight: bold;
}

.footer{
    display: flex;
    background-color:#1b2447;
    color: white;
    padding: 30px;
    justify-content: center;
    align-content: center;
    flex: 0 0 30px;
    flex-shrink: 0;
}

.pop-button{
    border: 2px solid white;
}

button{
    box-sizing: border-box;
    background-color: #0a69f7;
    border: 0px;
    color: white;
    border-radius: 7px;
    width: 120px;
    height: 40px;
    font-weight: bolder;
    font-size: 15px;
}